<body>
<header class="header">
  <nav class="navbar">
      <div class="logo">
          <a href="index.html">
              <img src="assets/logo-4.png" alt="Logo do Escritório">
          </a>
      </div>
      <ul class="nav-links">
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/servico">Nossos Serviços</a></li>
          <li><a routerLink="/form">Clientes</a></li>
      </ul>
  </nav>
  <div class="hero">
      <h1>Aliquam bibendum fringilla <br>ante vitae volutpat.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae rutrum ligula, non imperdiet magna. Curabitur eget lacinia nisi, a mattis augue. Quisque hendrerit mauris quam, vel egestas mi facilisis sit amet. Nullam semper sapien sed velit vestibulum scelerisque eu ac mi. Ut faucibus mauris ante, eu faucibus magna molestie eleifend. </p>
      <a href="contato.html" class="btn-primary">Saiba mais</a>
  </div>
</header>
</body>
