<section class="services">
    <div class="container">
        <h2>Serviços</h2>
        <br>
        <br>
        <article>
          <h3>Direito Civil</h3>
          <p>Vivamus accumsan ac dolor nec tincidunt. Praesent ultricies ornare commodo. Morbi eu luctus sem, ut luctus tellus.</p>
      </article>
      <article>
          <h3>Direito Trabalhista</h3>
          <p>Mauris dictum justo ligula, a porttitor dui sagittis eu. Nulla ultricies ut leo in tristique. Aenean quam tellus, tincidunt ut justo ac, porta tristique velit. Fusce tempor, risus a facilisis ultricies, odio ex semper ex, et rhoncus orci erat quis lorem.</p>
      </article>
      <article>
          <h3>Direito de Família</h3>
          <p>Nullam pellentesque eget diam sed commodo. Nam molestie non nibh at maximus. Morbi eu luctus sem, ut luctus tellus.</p>
      </article>
        <article>
            <h3>Direito do consumidor</h3>
            <p>Suspendisse dui urna, sodales laoreet velit nec, dapibus ultricies turpis. Integer aliquam, dolor sed lacinia pretium, nunc ligula congue eros, vitae malesuada velit neque ac nunc. Aliquam vehicula sollicitudin metus, eget congue arcu luctus sed.</p>
        </article>
        <article>
            <h3>Direito criminal</h3>
            <p>In vel mattis sem, sed elementum justo. Maecenas dictum, augue vel imperdiet euismod, metus tellus posuere ex, quis cursus justo leo nec diam.</p>
        </article>
        <article>
            <h3>Leis de trânsito</h3>
            <p>Nam dignissim congue sem et lacinia. Nullam in hendrerit dui, vitae mollis augue. Suspendisse molestie sit amet sem commodo ornare.</p>
        </article>
        <a href="servicos.html" class="btn-secondary">Veja Nossos Serviços</a>
    </div>
</section>
