<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Escritório de Advogados Especializados em Diversas Áreas do Direito">
    <title>Nome do Escritório de Advogados</title>

    <!-- Incluir qualquer outro link de CSS ou recursos aqui -->
</head>
<body>


    <section class="about">
        <div class="container">
            <h1><app-negrito [palavra]="texto"></app-negrito></h1>
            
            <br>
        <p>Curabitur facilisis velit ut justo laoreet, ut lobortis turpis ornare. Quisque tempus quam vel magna ultrices egestas.</p>
        <p>Pellentesque auctor nisl nec ligula efficitur tempor. Nullam blandit, nisl eget scelerisque hendrerit, sapien ipsum lobortis nulla, ut dictum sem leo in est. In aliquet fringilla felis quis maximus. Nunc iaculis arcu non ex vehicula, nec gravida metus convallis. Quisque vel fermentum est, sit amet lacinia mauris.</p>
        <p>Sed in magna bibendum, sollicitudin velit nec, scelerisque turpis. Curabitur auctor, erat a consequat luctus, massa nulla vulputate sapien, et dapibus nunc mauris fermentum lacus. Maecenas porta tincidunt ex. Quisque vel vulputate lectus. Vivamus facilisis ipsum elit, eu auctor eros porta ut. Praesent eleifend eget metus id convallis.</p>
        <p>Aenean quis consequat diam. Curabitur a mi eu metus gravida efficitur. Phasellus sit amet interdum odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Suspendisse pharetra tellus a pharetra congue. Vivamus tortor est, porta nec pharetra et, facilisis at erat. Proin id ex sodales, suscipit erat non, posuere magna. Donec maximus lacinia nisl sed porta. Proin eu venenatis mauris, nec porttitor diam. Cras in nulla vel odio pharetra ultrices eget id augue. </p>

            <a href="sobre.html" class="btn-secondary">Saiba Mais</a>
        </div>
    </section>




</body>
</html>

